.card-container {
  margin: 10px;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  background-color: rgba(91, 91, 91, 0);
}

.City {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.card-container h1 {
  font-size: 32px;
}
.card-container img {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 413px;
}
.card-container h2 {
  font-size: 12px;
  margin: padding;
}
.card-container p {
  font-size: 12px;
}
