.App {
  text-align: center;
}

.container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container > * {
  margin-bottom: 35px;
}

.main {
  display: flex;
}
