.App {
  text-align: center;
}

.container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container > * {
  margin-bottom: 35px;
}

.main {
  display: flex;
}

.Home {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  align-items: center;
  flex-wrap: wrap;
}
